.CodeMirror {
    height: 500px;
    font-size: 12px;
}

.code-dag-highlight {
    /*color: red !important;
    font-weight: bold; */
    font-style: italic;
    text-decoration: underline;
}

.result-item {
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}