.CodeMirror {
    height: 500px;
    font-size: 12px;
    border: 1px solid #ccc;
    margin: 10px auto;
    box-sizing: border-box;
}

#pipeline-output-cell {
    border: 1px solid #ccc;
    margin: 10px auto;
    box-sizing: border-box;
}

.code-dag-highlight {
    background-color: rgb(151, 187, 255);
}

.result-item {
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}

.result-item-content {
    margin-left: auto;
    margin-right: auto;
}

#app-container {
    max-width: 95%;
    margin-top: 15pt;
}

.play-button {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 40px;
    height: 40px;
}

.play-button::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 6px solid;
    top: 13px;
    left: 17px;
}