scikit-learn[alldeps]==0.23.1
pandas==1.0.5
nbformat==5.0.7
nbconvert==5.6.1
ipython==7.16.1
astunparse==1.6.3
astpretty==2.0.0
astmonkey==0.3.6
networkx==2.4
more-itertools==8.4.0
pygraphviz==1.5
testfixtures==6.14.1
matplotlib==3.3.1
